body {
    font-family: poppins;
    
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
}

/* left */

.left {
    width: 42%;
    height: 100vh;
    position: relative;
    background-image: url(./img/left.png);
    background-repeat: none;
    background-size: cover;
}

/* right  */

.right {
    
    display: flex;
    width: 68vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;

}

.right_logo {
    background-image: url(./img/Group\ 74.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.polygon_1 {
    margin-top: 8px;
}

.create h1 {
    margin-left: 10px;
}

.create_account p {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}

.form label {
    font-size: 18px;
    font-weight: 400;
    color: #212121;
}

.form input, button {
    width: 400px;
    height: 50px;
    margin: 10px 0;
    border: 1px solid #949494;
    cursor: pointer;
}

.form input {
    cursor: text;
}

input::placeholder {
    padding: 10px;
}

.red {
    color: #EB3800;
}

.member {
    font-size: 18px;
    font-weight: 300;
    color: #949494;
    width: 400px;
    position: relative;
    left: 15px;
    margin:10px 0;
    text-align: left;
}

.form {
    position: relative;
    left: 15px;
}

.create_account button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #949494;
}

.sign_up button {
    color: #4443FF;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    background: #FFFFFF;
}

.submit button {
    font-weight: 600;
    font-size: 16px;
    background-color: #4443FF;
    color: #FFFFFF;
    box-shadow: 9px 9px 10px rgba(114, 113, 255, 0.25);
}

#sign {
    margin-left: 10px;
}

.log_in {
    margin-top: 15px;
}

#log {
    color: #949494;
}

.log_in a {
    text-decoration: none;
    color: #7271FF;
}

